@model IEnumerable<WebObligatorio_2_P3.Models.ViewModelDiaYHora>

<h3>Búsqueda de actividades segun criterio</h3>

<hr />
@Html.ActionLink("Volver a buscar", "BusquedaActividadPorParametros")
<table class="table table-bordered">

    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.NombreActivdad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdadMinima)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreActivdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMinima)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit") |
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Volver a buscar", "BusquedaActividadPorParametros")
