@model WebObligatorio_2_P3.Models.ViewModelDiaYHora

<h2>Búsqueda de actividades según parámetros</h2>

@using (Html.BeginForm("ListarActividadesPorTextoEnNombre", "Actividad", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <label for="selectTipoBusqeuda">Elija como desea efectuar la búsqueda</label>
    <select name="tipoBusqueda" onchange="mostrarInputActividades()" id="selectTipoBusqeuda" class="form-control" >
        <option value=”” disabled selected>Seleccione una opción</option>
        <option value="texto">Buscar por texto</option>
        <option value="edadMin">Buscar por edad mínima</option>
        <option value="diaHora">Buscar por día/hora de la semana</option>
    </select>

    <hr />

    <div id="todosLosCampos" style="display: none">
        <div id="porTexto" class="form-group">
            @Html.LabelFor(model => model.NombreActivdad, htmlAttributes: new { @class = "control-label col-md-2"})

            <div class="col-md-10" id="asdasd">
                @Html.EditorFor(model => model.NombreActivdad, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese un texto" } })
                @Html.ValidationMessageFor(model => model.NombreActivdad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="porDiaHora">
            <div class="form-group">
                @Html.LabelFor(model => model.Dia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dia, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese un día de la semana válido" } })
                    @Html.ValidationMessageFor(model => model.Dia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese una hora entre las 7 y las 23" } })
                    @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="porEdad" class="form-group">
            @Html.LabelFor(model => model.EdadMinima, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EdadMinima, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese una edad entre 3 y 90" } })
                @Html.ValidationMessageFor(model => model.EdadMinima, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="botonBuscar" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-info" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver al inicio", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function mostrarInputActividades() {
        let tipoBusqueda = document.getElementById("selectTipoBusqeuda");
        document.getElementById("todosLosCampos").style.display = 'block';
        document.getElementById("botonBuscar").style.display = 'block';

        document.getElementById("NombreActivdad").value = "";
        document.getElementById("Dia").value = "";
        document.getElementById("Hora").value = "";
        document.getElementById("EdadMinima").value = "";

        if (tipoBusqueda.value == "texto") {
            document.getElementById("porTexto").style.display = 'block';
            document.getElementById("porEdad").style.display = 'none';
            document.getElementById("porDiaHora").style.display = 'none';
        }
        if (tipoBusqueda.value == "edadMin") {
            document.getElementById("porEdad").style.display = 'block';
            document.getElementById("porTexto").style.display = 'none';
            document.getElementById("porDiaHora").style.display = 'none';
        }
        if (tipoBusqueda.value == "diaHora") {
            document.getElementById("porDiaHora").style.display = 'block';
            document.getElementById("porTexto").style.display = 'none';
            document.getElementById("porEdad").style.display = 'none';
        }
    }
</script>