@model IEnumerable<WebObligatorio_2_P3.Models.ViewModelIngresoActividad>

<h2>Listando todos los ingresos de un socio a una actividad dada</h2>

<hr />

<table class="table table-bordered">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.FechaYHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaYHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
    </tr>
}

</table>
