@model WebObligatorio_2_P3.Models.ViewModelSocio

@{
    ViewBag.Title = "GestionPago";
}

<h2>Registro de pago</h2>

<hr />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreYapellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreYapellido)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Elija una forma de pago</label>
            <select name="tipoPago" onchange="mostrarInputActividades()" id="selectFormaPago" class="form-control">
                <option value=”” disabled selected>Seleccione una opcion</option>
                <option value="cuponera">Cuponera</option>
                <option value="paseLibre">Pase Libre</option>
            </select>
        </div>

        <div id="divCantidadAct" hidden>
            @*Hasta que el usuario no selecciona una opcion, ocultamos el input de actividades*@
            <input required name="ctdActiv" id="inputCantActividades" class="form-control" type="number" placeholder="Cantidad de actividades">
        </div><hr />

        <div id="divMostrarTotal" hidden>
            @*Hasta que el usuario no selecciona una opcion, no mostramos el boton de mostrar total*@
        <button type="submit" id="btnMostrarTotal" class="btn btn-info">Mostrar el total</button>
    </div>

    <input name="id" type='hidden' value="@Model.Id">
}

    <hr />

    @if (ViewBag.PaseLibre != null)
    {
        <h3>Monto total a pagar: </h3>
        <h1> $@ViewBag.PaseLibre; </h1>
        <a href='@Url.Action("ConfirmarPago", new { id = Model.Id })' class="btn btn-success">Confirmar pago</a>
    }
    else if (ViewBag.Cuponera != null && ViewBag.Error == null)
    {
        <h3>Monto total a pagar: </h3>
        <h1> $@ViewBag.Cuponera </h1>
        <a href='@Url.Action("ConfirmarPago", new { id = Model.Id })' class="btn btn-success">Confirmar pago</a>
    }
    else if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>

<hr />
<hr />

<p>
    @Html.ActionLink("Regresar a la lista", "Index", "Socio")
</p>


@* Script de JS para ocultar-mostrar input*@
<script type="text/javascript">
    function mostrarInputActividades() {
        let formaPago = document.getElementById("selectFormaPago");
        let divCantActivs = document.getElementById("divCantidadAct");
        let inputCantActividades = document.getElementById("inputCantActividades");
        let divMostrarTotal = document.getElementById("divMostrarTotal");
        divMostrarTotal.style.display = "block"; @* mostramos el btn de Mostrar total al llamar a la funcion *@

        document.getElementById("inputCantActividades").value = ""; @* Cuando entramos en la funcion, limpiamos el campo de actividades *@

        if (formaPago.value == "paseLibre") {     
            inputCantActividades.required = false; @*seteamos el atributo required en false*@
            divCantActivs.style.display = "none"; @*ocultamos el input de cantidad de actividades*@
        }
        if (formaPago.value == "cuponera") {
            inputCantActividades.required = true; @*el atributo required esta activo*@
            divCantActivs.style.display = "block"; @*mostramos el input de cantidad de activs*@
        }
    }
</script>