@model IEnumerable<WebObligatorio_2_P3.Models.ViewModelIngresoActividad>

@{
    ViewBag.Title = "ListarIngresos";
}

<hr />

<h2>Lista de ingresos entre fechas</h2>
@if (Model != null)
{
    <table class="table table-bordered">
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.DiaYHr.Activ.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaYHr.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaYHr.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaYHr.Activ.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaYHr.Dia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaYHr.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHora)
                </td>
            </tr>
        }
    </table>
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.Mensaje</p>

    </div>
}
<hr />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.Error</p>

    </div>
}
<hr />

@if (ViewBag.ErrorFechaInic != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.ErrorFechaInic</p>

    </div>
}
<hr />

<div>
    @Html.ActionLink("Regresar a la lista de socios", "Index", "Socio")
</div>
